@font-face {
  font-family: Vazir;
  src: url('../public/fonts/Vazir.ttf') format('truetype'),
    url('../public/fonts/Vazir.woff') format('woff');
}

html {
  box-sizing: border-box;
}

body {
  background-color: #ededed;
}

* {
  margin: 0;
  padding: 0;
  direction: rtl;
  box-sizing: inherit;
  font-family: Vazir, 'Segoe UI', Tahoma;
}

a {
  text-decoration: none;
  width: fit-content;
  padding: 0 3px;
  color: #0099ff;
  cursor: pointer;
}