.about {
  width: 90%;
  margin: 20px auto 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.about__profile {
  border-radius: 20rem;
  overflow: hidden;
  width: 64px;
  height: 64px;
}

.about__name {
  font-size: 2rem;
  margin: 20px;
}

.about__bio {
  line-height: 2rem;
  margin-top: 20px;
}